In [1]:
import pandas as pd
import pymysql.cursors
%matplotlib inline 
import matplotlib.pyplot as plt
import numpy as np

In [2]:
user='kazi_prod'
password='kazi_prod'
host='kazi-prod.c8g7cvnd0wr8.eu-west-2.rds.amazonaws.com'
database='kazi'
    
connc = pymysql.connect(user=user, password=password, host=host, database=database)
cursor = connc.cursor()

In [3]:
df = pd.read_sql('SELECT * FROM task_call_details', con=connc)

In [4]:
print(df.shape)
df.head()

(77993, 13)

,id,angaza_id,account_number,call_duration,task_solved_at,followup_date,intent_id,feedback_id,other_reason,imei,contacted_number,created_at,updated_at
0,3499,US014637,3179876,55,2018-10-11 05:10:58,2018-10-16,2,999,Language problems,351701094167580,None,2018-10-11 05:11:01,2018-10-11 05:11:01
1,3500,US014637,3866878,117,2018-10-11 05:16:40,2018-10-15,2,4,None,351701094167580,None,2018-10-11 05:16:42,2018-10-11 05:16:42
2,3501,US011921,15270002,62,2018-10-11 05:20:50,2018-10-26,2,4,None,352452090251304,None,2018-10-11 05:20:52,2018-10-11 05:20:52
3,3502,US014637,11620002,118,2018-10-11 05:23:58,2018-10-12,2,4,None,351701094167580,None,2018-10-11 05:24:02,2018-10-11 05:24:02
4,3503,US014637,13058706,21,2018-10-11 05:26:08,2018-10-13,2,5,None,351701094167580,None,2018-10-11 05:26:10,2018-10-11 05:26:10

In [5]:
df.dtypes

id                           int64
angaza_id                   object
account_number               int64
call_duration                int64
task_solved_at      datetime64[ns]
followup_date               object
intent_id                    int64
feedback_id                  int64
other_reason                object
imei                        object
contacted_number            object
created_at          datetime64[ns]
updated_at          datetime64[ns]
dtype: object

In [6]:
from datetime import datetime

In [7]:
index_list = []
for index, row in df.iterrows():
    created_at = row['created_at']
    task_solved_at = row['task_solved_at']
    if (task_solved_at.hour == 0 and task_solved_at.minute == 0 and task_solved_at.second == 0):
        index_list.append(index)

    if (created_at.hour == 0 and created_at.minute == 0 and created_at.second == 0):
        index_list.append(index)
    #print(row['created_at'], row['task_solved_at'])
#print(index_list)

In [8]:
print('before drop', df.shape)

df.drop(df.index[index_list], inplace=True)

print('after drop', df.shape)

before drop (77993, 13)
after drop (75431, 13)

In [9]:
df['sync_delay'] = df.created_at - df.task_solved_at
df['sync_delay'] = df['sync_delay'] / np.timedelta64(1, 's')

In [10]:
df.head()

,id,angaza_id,account_number,call_duration,task_solved_at,followup_date,intent_id,feedback_id,other_reason,imei,contacted_number,created_at,updated_at,sync_delay
0,3499,US014637,3179876,55,2018-10-11 05:10:58,2018-10-16,2,999,Language problems,351701094167580,None,2018-10-11 05:11:01,2018-10-11 05:11:01,3.0
1,3500,US014637,3866878,117,2018-10-11 05:16:40,2018-10-15,2,4,None,351701094167580,None,2018-10-11 05:16:42,2018-10-11 05:16:42,2.0
2,3501,US011921,15270002,62,2018-10-11 05:20:50,2018-10-26,2,4,None,352452090251304,None,2018-10-11 05:20:52,2018-10-11 05:20:52,2.0
3,3502,US014637,11620002,118,2018-10-11 05:23:58,2018-10-12,2,4,None,351701094167580,None,2018-10-11 05:24:02,2018-10-11 05:24:02,4.0
4,3503,US014637,13058706,21,2018-10-11 05:26:08,2018-10-13,2,5,None,351701094167580,None,2018-10-11 05:26:10,2018-10-11 05:26:10,2.0

In [11]:
minimum = df.sync_delay.min()
#minimum = minimum.total_seconds()
maximum = df.sync_delay.max()
#maximum = maximum.total_seconds()

In [12]:
bins=[minimum, -15, 15, maximum]
labels = ['offline_less','online','offline_more']

In [13]:
bins

[-20131197.0, -15, 15, 92633847.0]

In [14]:
df['sync_state'] = pd.cut(df['sync_delay'], bins, labels = labels )

In [15]:
df

,id,angaza_id,account_number,call_duration,task_solved_at,followup_date,intent_id,feedback_id,other_reason,imei,contacted_number,created_at,updated_at,sync_delay,sync_state
0,3499,US014637,3179876,55,2018-10-11 05:10:58,2018-10-16,2,999,Language problems,351701094167580,None,2018-10-11 05:11:01,2018-10-11 05:11:01,3.0,online
1,3500,US014637,3866878,117,2018-10-11 05:16:40,2018-10-15,2,4,None,351701094167580,None,2018-10-11 05:16:42,2018-10-11 05:16:42,2.0,online
2,3501,US011921,15270002,62,2018-10-11 05:20:50,2018-10-26,2,4,None,352452090251304,None,2018-10-11 05:20:52,2018-10-11 05:20:52,2.0,online
3,3502,US014637,11620002,118,2018-10-11 05:23:58,2018-10-12,2,4,None,351701094167580,None,2018-10-11 05:24:02,2018-10-11 05:24:02,4.0,online
4,3503,US014637,13058706,21,2018-10-11 05:26:08,2018-10-13,2,5,None,351701094167580,None,2018-10-11 05:26:10,2018-10-11 05:26:10,2.0,online
5,3504,US014637,13205901,69,2018-10-11 05:29:10,2018-10-16,2,4,None,351701094167580,None,2018-10-11 05:29:14,2018-10-11 05:29:14,4.0,online
6,3505,US014637,22207609,134,2018-10-11 05:34:19,2018-10-14,2,3,None,351701094167580,None,2018-10-11 05:34:22,2018-10-11 05:34:22,3.0,online
7,3506,US014637,24682502,37,2018-10-11 05:37:20,2018-10-13,2,4,None,351701094167580,None,2018-10-11 05:37:22,2018-10-11 05:37:22,2.0,online
8,3507,US014637,23895808,50,2018-10-11 05:39:20,2018-10-13,2,4,None,351701094167580,None,2018-10-11 05:39:22,2018-10-11 05:39:22,2.0,online
9,3508,US014637,32479206,56,2018-10-11 05:42:16,2018-10-13,2,5,None,351701094167580,None,2018-10-11 05:42:19,2018-10-11 05:42:19,3.0,online
10,3509,US001355,2023349,63,2018-10-11 05:55:44,2018-10-13,2,999,He was away but will pay today,358631088957105,None,2018-10-11 05:55:47,2018-10-11 05:55:47,3.0,online
11,3510,US001355,2574440,69,2018-10-11 05:59:29,2018-10-13,2,4,None,358631088957105,None,2018-10-11 05:59:33,2018-10-11 05:59:33,4.0,online
12,3511,US023910,1420066,98,2018-10-11 06:00:05,2018-10-13,2,4,None,354236094203827,None,2018-10-11 06:00:07,2018-10-11 06:00:07,2.0,online
13,3512,US001355,2583649,53,2018-10-11 06:02:29,2018-10-13,2,999,was away promised to pay today,358631088957105,None,2018-10-11 06:02:32,2018-10-11 06:02:32,3.0,online
14,3513,US001355,2023448,46,2018-10-11 06:04:39,2018-10-18,2,4,None,358631088957105,None,2018-10-11 06:04:44,2018-10-11 06:04:44,5.0,online
15,3514,US001405,1683861,29,2018-10-11 06:05:33,2018-10-12,2,999,will pay today,358631089485783,None,2018-10-11 06:05:34,2018-10-11 06:05:34,1.0,online
16,3515,US001603,1334523,35,2018-10-11 06:06:00,2018-10-12,2,999,customer is away on medical grounds,358631089488548,None,2018-10-11 06:06:01,2018-10-11 06:06:01,1.0,online
17,3516,US023910,1951359,54,2018-10-11 06:07:03,2018-10-13,2,4,None,354236094203827,None,2018-10-11 06:07:04,2018-10-11 06:07:04,1.0,online
18,3517,US023910,2725141,40,2018-10-11 06:08:43,2018-10-14,2,4,None,354236094203827,None,2018-10-11 06:08:44,2018-10-11 06:08:44,1.0,online
19,3518,US001603,7027444,27,2018-10-11 06:08:56,2018-10-26,2,4,None,358631089488548,None,2018-10-11 06:08:58,2018-10-11 06:08:58,2.0,online
20,3519,US001603,48799001,34,2018-10-11 06:10:39,2018-10-26,2,4,None,358631089488548,None,2018-10-11 06:10:40,2018-10-11 06:10:40,1.0,online
21,3520,US023910,3008034,62,2018-10-11 06:10:55,2018-10-14,2,4,None,354236094203827,None,2018-10-11 06:10:56,2018-10-11 06:10:56,1.0,online
22,3521,US023910,3008133,48,2018-10-11 06:17:01,2018-10-26,2,999,customer is sick and admitted in the hospital ...,354236094203827,None,2018-10-11 06:17:02,2018-10-11 06:17:02,1.0,online
23,3522,US001355,2646149,101,2018-10-11 06:21:10,2018-10-14,2,999,The lamp has default so he promised to bring i...,358631088957105,None,2018-10-11 06:21:12,2018-10-11 06:21:12,2.0,online
24,3523,US023910,3061231,97,2018-10-11 06:22:32,2018-10-26,2,4,None,354236094203827,None,2018-10-11 06:22:32,2018-10-11 06:22:32,0.0,online
25,3524,US001355,3101151,115,2018-10-11 06:25:44,2018-10-16,2,3,None,358631088957105,None,2018-10-11 06:25:46,2018-10-11 06:25:46,2.0,online
26,3525,US001355,3143039,55,2018-10-11 06:31:26,2018-10-12,2,999,Her mother was sick and she is the one taking ...,358631088957105,None,2018-10-11 06:31:31,2018-10-11 06:31:31,5.0,online
27,3526,US011010,21833207,233,2018-10-11 06:45:18,2018-10-13,2,999,CPU to be replaced\n,866838029620453,None,2018-10-11 06:45:21,2018-10-11 06:45:21,3.0,online
28,3527,US001405,21307400,59,2018-10-11 06:48:03,2018-10-12,2,999,will pay today,358631089485783,None,2018-10-11 06:48:04,2018-10-11 06:48:04,1.0,online
29,3528,US021275,67476408,79,2018-10-11 06:52:15,2018-10-13,2,2,None,357793087167408,None,2018-10-11 06:51:51,2018-10-11 06:51:51,-24.0,offline_less
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77963,86271,US009116,14456503,33,2018-12-11 18:23:43,2018-12-13,2,6,None,357392080412604,+254708163781,2018-12-11 18:18:14,2018-12-11 18:18:14,-329.0,offline_less
77964,86272,US009116,6152078,68,2018-12-11 18:21:32,2018-12-14,2,6,None,357392080412604,+254717990838,2018-12-11 18:18:14,2018-12-11 18:18:14,-198.0,offline_less
77965,86273,US021639,44207603,128,2018-12-11 18:18:34,2018-12-13,3,9999,will pay tomorrow,355236094404523,+2347085034972,2018-12-11 18:18:38,2018-12-11 18:18:38,4.0,online
77966,86274,US019914,24493207,69,2018-12-11 18:20:48,2018-12-13,2,6,None,355750081838444,+255687807496,2018-12-11 18:20:51,2018-12-11 18:20:51,3.0,online
77967,86275,US009088,78573805,170,2018-12-11 18:22:30,2018-12-13,2,4,None,358110074724613,+254706185939,2018-12-11 18:22:31,2018-12-11 18:22:31,1.0,online
77968,86276,US008636,14427900,39,2018-12-11 18:26:07,2018-12-12,3,9999,have electricity,351701094250063,+254729004013,2018-12-11 18:26:12,2018-12-11 18:26:12,5.0,online
77969,86277,US002985,47638101,75,2018-12-11 18:25:02,2018-12-16,2,4,None,357392089177463,+254725612954,2018-12-11 18:28:16,2018-12-11 18:28:16,194.0,offline_more
77970,86278,US030139,79371506,46,2018-12-09 18:29:02,2018-12-11,2,4,None,351701094176847,+254727019284,2018-12-11 18:28:47,2018-12-11 18:28:47,172785.0,offline_more
77971,86279,US009088,13396908,193,2018-12-11 18:29:34,2018-12-14,2,4,None,358110074724613,+254701316933,2018-12-11 18:29:35,2018-12-11 18:29:35,1.0,online
77972,86280,US002985,46905006,168,2018-12-11 18:29:16,2018-12-15,2,4,None,357392089177463,+254713260355,2018-12-11 18:32:30,2018-12-11 18:32:30,194.0,offline_more
77973,86281,US019914,24496101,266,2018-12-11 18:32:27,2018-12-13,2,2,None,355750081838444,+255757893742,2018-12-11 18:32:33,2018-12-11 18:32:33,6.0,online
77974,86282,US016781,62401906,34,2018-12-11 18:34:01,2018-12-12,2,999,wants to pay,357793089215304,+254798883199,2018-12-11 18:34:06,2018-12-11 18:34:06,5.0,online
77975,86283,US002985,36341204,95,2018-12-11 18:34:06,2018-12-14,2,4,None,357392089177463,+254726126757,2018-12-11 18:37:20,2018-12-11 18:37:20,194.0,offline_more
77976,86284,US019914,33838905,121,2018-12-11 18:41:21,2018-12-14,3,11,None,355750081838444,+255786418439,2018-12-11 18:41:26,2018-12-11 18:41:26,5.0,online
77977,86285,US019914,48678510,63,2018-12-11 18:46:37,2018-12-15,2,2,None,355750081838444,+255736999996,2018-12-11 18:46:41,2018-12-11 18:46:41,4.0,online
77978,86286,US019914,54349006,256,2018-12-11 18:53:31,2018-12-14,3,11,None,355750081838444,+255684586768,2018-12-11 18:53:35,2018-12-11 18:53:35,4.0,online
77979,86287,US017196,44545408,56,2018-12-11 18:59:03,2018-12-13,2,2,None,358940080748523,+2348077144787,2018-12-11 18:59:06,2018-12-11 18:59:06,3.0,online
77980,86288,US017952,3352655,68,2018-12-11 19:09:16,2018-12-12,2,999,customer is sick,351701094514484,+254720296906,2018-12-11 19:09:22,2018-12-11 19:09:22,6.0,online
77981,86289,US011082,70368808,100,2018-12-11 19:30:03,2018-12-12,2,999,just get it installed,355750089798483,+2348032123193,2018-12-11 19:30:14,2018-12-11 19:30:14,11.0,online
77982,86290,US030521,38137907,126,2018-12-11 19:14:45,2018-12-12,2,3,None,352289100934804,+254710160235,2018-12-11 19:32:53,2018-12-11 19:32:53,1088.0,offline_more
77983,86291,US011082,43539105,110,2018-12-11 19:35:16,2018-12-13,2,999,to pay on it tomorrow,355750089798483,+2348051523623,2018-12-11 19:35:25,2018-12-11 19:35:25,9.0,online
77984,86292,US011082,28240901,47,2018-12-11 19:36:58,2018-12-12,2,999,to pay on it tomorrow,355750089798483,+2348145917658,2018-12-11 19:37:00,2018-12-11 19:37:00,2.0,online
77985,86293,US021243,31906100,116,2018-12-10 12:35:07,2018-12-13,2,5,None,357392088840921,+256786408053,2018-12-11 19:54:13,2018-12-11 19:54:13,112746.0,offline_more
77986,86294,US021243,56497605,51,2018-12-10 12:48:30,2018-12-12,2,4,None,357392088840921,+256757683180,2018-12-11 19:54:13,2018-12-11 19:54:13,111943.0,offline_more
77987,86295,US021243,56475205,69,2018-12-10 16:57:31,2018-12-11,2,4,None,357392088840921,+256785727869,2018-12-11 19:54:13,2018-12-11 19:54:13,97002.0,offline_more
77988,86296,US021243,56477508,69,2018-12-10 16:55:22,2018-12-11,2,1,None,357392088840921,+256785727869,2018-12-11 19:54:13,2018-12-11 19:54:13,97131.0,offline_more
77989,86297,US021243,55772305,55,2018-12-10 12:41:04,2018-12-13,2,4,None,357392088840921,+256781671447,2018-12-11 19:54:13,2018-12-11 19:54:13,112389.0,offline_more
77990,86298,US021243,52330503,102,2018-12-10 12:38:28,2018-12-12,2,4,None,357392088840921,+256785984813,2018-12-11 19:54:13,2018-12-11 19:54:13,112545.0,offline_more
77991,86300,US011920,62506803,147,2018-12-11 19:44:07,2018-12-16,2,4,None,357392089089403,+254715298711,2018-12-11 19:58:21,2018-12-11 19:58:21,854.0,offline_more
77992,86301,US031468,43869403,22,2018-12-09 14:55:12,2018-12-10,2,999,not at home,355236095006707,+2348032482316,2018-12-11 20:06:07,2018-12-11 20:06:07,191455.0,offline_more

In [16]:
online_count = sum(df.sync_state == 'online')
offline_count = sum(df.sync_state != 'online')
percentage = online_count/(online_count + offline_count)*100
print(percentage)

59.04203841921757