In [2]:
import pandas as pd

In [3]:
task_html = pd.read_html('http://35.177.8.1:8080/kazi-batch/jobs/taskJob')
df_task = task_html[0]
df_task.head()

,ID,Unnamed: 1,JobExecution Count,Last JobExecution,Last JobExecution Date,Last JobExecution Start,Last JobExecution Duration,Last JobExecution Parameters
0,4591,executions,1,COMPLETED,2018-10-27,08:30:00,00:08:11,"{jobName=taskJob, jobId=1540629000000taskJob}"
1,4582,executions,1,COMPLETED,2018-10-27,04:30:00,00:07:50,"{jobName=taskJob, jobId=1540614600000taskJob}"
2,4572,executions,1,COMPLETED,2018-10-27,00:30:00,00:08:08,"{jobName=taskJob, jobId=1540600200000taskJob}"
3,4561,executions,1,COMPLETED,2018-10-26,20:30:00,00:08:11,"{jobName=taskJob, jobId=1540585800000taskJob}"
4,4551,executions,1,COMPLETED,2018-10-26,16:30:00,00:08:28,"{jobName=taskJob, jobId=1540571400001taskJob}"

In [15]:
status = df_task['Last JobExecution'][0]
if status == 'COMPLETED':
    print('Success')
elif status == 'STARTING':
    print('Some problem with the batch job')
elif status == 'STARTED':
    print('Started the batch job')
    duration = df_task['Last JobExecution Duration'][0]
    print('Batch running since last', duration, 'minutes')

Success

In [19]:
from datetime import datetime

datetime_object = datetime.strptime('2018-10-27 08:30:00', '%y-%m-%d %H:%M:%S')

ValueError: time data '2018-10-27 08:30:00' does not match format '%y-%m-%d %H:%M:%S'

In [17]:
datetime_object

datetime.datetime(1900, 1, 1, 8, 30)